@import 'tailwindcss';

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

	--color-primary-50: oklch(0.977 0.013 236.62);
	--color-primary-100: oklch(0.951 0.026 236.82);
	--color-primary-200: oklch(0.901 0.058 230.9);
	--color-primary-300: oklch(0.828 0.111 230.32);
	--color-primary-400: oklch(0.746 0.16 232.66);
	--color-primary-500: oklch(0.685 0.169 237.32);
	--color-primary-600: oklch(0.588 0.158 241.97);
	--color-primary-700: oklch(0.5 0.134 242.75);
	--color-primary-800: oklch(0.443 0.11 240.79);
	--color-primary-900: oklch(0.391 0.09 240.88);
	--color-primary-950: oklch(0.293 0.066 243.16);
}
